---
layout: article
title: GROUPES
---

<section>
{% for post in site.posts %}
{% if post.category =="groupes" %}
<div class="article">
  <img src="{{ post.image | relative_url }}">
  <h1>{{ post.title }}</h1>
  <h2>{{ post.sous-title}}</h2>
  <p>Keith Jarrett (piano), Gary Peacock (contrebasse) et Jack DeJohnette (batterie) sont nés pour jouer ensemble. Même culture, même feeling, même lyrisme. En 1977, un premier album, Tales of Another, scellait leur union. Six ans plus tard, en janvier 1983, le pianiste convoque ses amis pour trois nouvelles journées d'enregistrement. Ces sessions-fleuves, qui donneront lieu à trois albums, Standards 1 et 2, Changes, réédités aujourd'hui en un coffret, vont marquer l'histoire musicale.</p>
</div>
{% endif %}
{% endfor %}
</section>
