---
layout: article
title: MUSICIENS
---
<section>
{% for post in site.posts %}
{% if post.category =="musiciens" %}
<div class="article">
  <img src="{{ post.image | relative_url }}">
  <h1>{{ post.title }}</h1>
  <h2>{{ post.sous-title}}</h2>
  <p>Demandez aux meilleurs des pianistes d’aujourd’hui qui a été leur influence majeure ces dernières années. Neuf sur dix (et encore) citeront le Brad Mehldau, ajoutant : « et son trio » !
La formation-phare du pianiste a réussi à réinvestir et réinventer l’art du trio, à force de génie harmonique et d’interaction fascinante avec ses partenaires de choix Larry Grenadier et Jeff Ballard.
Le discours est à la fois mouvant et serré, pertinent et déroutant, lancinant et débridé, sans jamais perdre le fil du discours de référence au thème, que Brad aime pétrir et retourner dans tous les sens pour se le réapproprier de manière toujours créative. Le trio de Brad Mehldau ?
Une manière de must musical, dans une carrière d’auditeur.</p>
</div>
{% endif %}
{% endfor %}
</section>
