---
layout: article
title: TOURNEE
---

<section>
{% for post in site.posts %}
{% if post.category =="tournee" %}
<div class="article">
  <img src="{{ post.image | relative_url }}">
  <h1>{{ post.title }}</h1>
  <h2>{{ post.sous-title}}</h2>
  <p>Pianiste de formation, bassiste de cœur, l’homme de Jerusalem a une envergure et un charisme littéralement exceptionnels. On ne compte plus le nombre de jeunes pousses qu’il a contribué à faire éclore depuis deux décennies, tout comme lui-même doit assurément à Chick Corea ses premiers pas musicaux au soleil de la reconnaissance, alors qu’il écumait les petits clubs de New York en expatrié gourmand d’aventures artistiques. Musicien souple et puissant, Avishai Cohen joue en constante interaction virtuose avec le pianiste, et la longue complicité qui l’unit à Shai Maestro fait de son compatriote le partenaire obligé de ce concert-anniversaire ce d’autant qu’avec le concours inventif de Mark Guiliana, une des références actuelles de la batterie de Jazz, la fête sera complète!</p>
</div>
{% endif %}
{% endfor %}
</section>
