<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <header>{% include header.html %}</header>
    <section>{% include jumbotron.html %}</section>
    <section class="hello">
      {% for post in site.posts %}
      {% if post.important =="pas-important" %}
      <div class="article">
      <img src="{{ post.image | relative_url }}">
      <h1>{{ post.title }}</h1>
      <h2>{{ post.sous-title}}</h2>
      </div>
      {% endif %}
      {% endfor %}
    </section>
    <footer>{% include footer.html %}</footer>



  </body>
</html>
